#navbar {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

#navbar a {
  text-decoration: none;
  margin: 20px;
  color: rgba(156, 252, 248, 1);
}

#navbar a:hover {
  background-color: rgba(156, 252, 248, 1);
  color: #333;
}

#about {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

h2 {
  font-size: 35px;
  text-align: center;
}

h3 {
  margin-top: 100px;
  font-size: 35px;
}

h2,
#contact,
#about,
#portfolio
{
  margin: 20px;
  text-align: center;
}

#contact {
  display: block;
}

#email,
#name {
  display: block;
  margin: 0px 45% 5px 45%;
}

#content {
  width: 325px;
  height: 200px;
  /* text-align: left; */
  margin-top: 5px;
  padding: 0;
}

#submit-button {
  display: block;
  margin: 20px 45% 5px 47%;
  background-color: #333;
  color: rgba(156, 252, 248, 1);
  height: 50px;
  width: 100px;
  font-size: 18px;
}

#profile-picture {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
}

#about-bio {
  font-size: 20px;
  margin-top: 25px;
  width: 700px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.project-pic {
  height: 250px;
  justify-content: center;
  margin: 10px 60px 10px 115px;
  flex-wrap: wrap;
}

.project-pic2 {
  height: 250px;
  justify-content: center;
  margin: 30px 50px 10px 105px;
  flex-wrap: wrap;
}

#kin {
  width: 370px;
}

.links {
  display: block;
  margin-left: 50px;
  font-size: 17px;
  color: rgb(4, 4, 151);
}

.project-header {
  font-size: 20px;
  margin-left: 50px;
  text-decoration: underline;
}

#project-wrapper {
  display: flex;
}

#resume-link {
  font-size: 22px;
  color: rgb(4, 4, 151);
  margin-top: 100px;
 
}

li,
h5 {
  list-style: none;
  font-size: 22px;
}


#resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#proficiencies {
  background-color: rgb(147, 183, 246);
  width: 500px;
  align-content: center;
  margin-top: 80px;
  padding: 15px;
}
h5 {
  font-size: 25px;
  font-weight: bolder;
}

#footer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer-links {
  height: 50px;
  margin: 100px 20px 20px 10px;
}


