#navbar {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

#navbar a {
   text-decoration: none;
   margin: 20px;
   color: rgba(156, 252, 248, 1);
}

#navbar a:hover {
    background-color: rgba(156, 252, 248, 1);
    color:#333;
    
}

h2 {
  font-size: 35px;
  text-align: center;
  margin-right: 100px;
}

#name-header {
  margin: 50px 50px 20px 0px;
}

h3 {
  margin-top: 100px;
}

h2, 
#contact, 
#about, 
#portfolio, 
#resume {
    margin: 20px;
    text-align: center;
}

#contact
 {
  display: block;
}

#email,
#name {
  display: block;
  margin: 20px 45% 5px 45%;
}

#content {
  width: 325px;
  height: 200px;
  text-align: left;
  justify-content: center;
  margin-top: 5px;

}

#about {
  display: flex;
}

#profile-picture,
#about-bio {
  /* display: flex; */
  justify-content: center;
  margin: 0px 40px 0px 115px;
  text-align: center;
}

#profile-picture {
  height: 175px;
  border-radius: 50%;
}

#about-bio {
  font-size: 20px;
  margin-top: 25px;
  width: 700px;
}

#card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.project-pic
 {
  height: 250px;
  justify-content: center;
  margin: 10px 60px 10px 115px;
  flex-wrap: wrap;
}

.project-pic2 {
  height: 250px;
  justify-content: center;
  margin: 30px 50px 10px 105px;
  flex-wrap: wrap;
}

.links {
  display: block;
  margin-left: 50px;
  font-size: 17px;
  color: rgb(4, 4, 151)
}

.project-header {
  font-size: 20px;
  margin-left: 50px;
  text-decoration: underline;
}

#project-wrapper {
  display: flex;
}